

body {

  font-family: 'Dancing Script', cursive;
  font-family: 'Lato', sans-serif;
  background: url("lionNRG.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;

    color: #F3F1ED;
    margin: 0 15px;
}

.text-thin {
    
    
    font-family: 'Dancing Script', cursive;
    font-weight: 40px;
}

text-lato {
    
    font-family: 'Lato', sans-serif;
}

.titleI {

  color: #F3F1ED;
  padding-bottom: 50px;

}

.test {
    
    background: red; 
}


.imgBack {
width: 98%;
padding-bottom: 60px;
padding-top: 30px;
color: #ecf0f1;
background: rgba(50, 50, 50, 0.6);
max-width: 1200px;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;

}

.textQuote {

height: 170px;

}

.textShare {
    
    padding-bottom: 20px;
    padding-top: 20px;
    
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

#followUs {
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.back {
    position: absolute;
    top: 30px;
    left: 30px;
}

.header {
    padding: 100px 0 30px;
    color: white;
    font-family: cursive;
}

#followUs {
    font-family: cursive;
}
