body {
    
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 15px;
}

.text-thin {
    height: 45px;
    font-weight: 700;
}

.img-responsive {
    margin: 0 auto;
}

.text-muted {
    color: #BCBBBB;
}
.colored {
    font-weight: bold;
}

.jumbotron {
    margin: 0 -15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    background-image: url(website-background-15.png);
    background-position: bottom;
}

.container-fluid {
    padding-top: 50px;
}
.caption p:first-of-type {
    height: 70px;
}

.nav-tabs {
    padding: 20px;
    border: none;
}
.nav-tabs li {
    font-size: 16px;
    display: inline-block;
    color: #fff;
}

.nav-tabs>li.active>a {
    border: none;
    color: #fff;
    background-color: #5bc0de;
}
.nav-tabs>li.active>a:hover {
    background-color: #5bc0de;
}
.nav-tabs>li>a:hover {
    color: #fff;
    background-color: #5bc0de;
}
.tab-pane {
    transition: all 2s;
}

#Portfolio {
    padding-left: 20px;
}
#myNavbar {
    margin-bottom:  0;
}
#contact {
    
   padding-bottom: 40px;
    
}


.footer-title {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}

a.thumbnail:hover {
    border-color: white;
    box-shadow: 0px 6px 10px 3px silver;
}

.back-to-top {
    /* the commented out is for the custom image*/
    /*display: none;*/
    position: fixed;
    /*height: 60px;*/
    /*width: 60px;*/
    bottom: 30px;
    right: 30px;
    /*-webkit-border-radius: 30px;*/
	/*-moz-border-radius: 30px;*/
	/*border-radius: 30px;*/
    color: #337ab7;
    z-index: 999;
    opacity: 0.6;
}
.back-to-top:hover {
    opacity: 1;
    cursor: pointer;
}
