

body {

  font-family: 'Dancing Script', cursive;
  font-family: 'Lato', sans-serif;
  background: url("lionNRG.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;

    color: #F3F1ED;
    margin: 0 15px;
}

.text-thin {
    
    
    font-family: 'Dancing Script', cursive;
    font-weight: 40px;
}

/*text-lato {*/
    
/*    font-family: 'Lato', sans-serif;*/
/*}*/
#typed {
    height: 36px;
}


.test {
    
    background: red; 
}


.imgBack {
width: 98%;
padding-bottom: 60px;
padding-top: 30px;
color: #ecf0f1;
background: rgba(50, 50, 50, 0.6);
max-width: 1200px;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;

}

.textQuote {

height: 170px;

}

.textShare {
    
    padding-bottom: 20px;
    padding-top: 20px;
    
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

#followUs {
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.back {
    position: absolute;
    top: 30px;
    left: 30px;
}

.header {
    padding: 100px 0 30px;
    color: white;
    font-family: cursive;
}

#followUs {
    font-family: cursive;
}

.fa-twitter {
    color: #337ab7;
    transition-delay: 0.7s;
}
.fa-twitter:hover {
    animation: spin 0.7s;
    cursor: pointer;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }